@media (max-width: 800px) {
    .play-list{
        display: flex;
        flex-direction: column;
    }
    .info > p{
        display: none;
    }
    .menu-item{
        display: flex;
        flex-direction: column;
        width: 100px;
    }
    .widget{
        border: none;
        
      }
    .side-bar{
        width: 100px;
    }
}